.mainbg {
	background-color: #141414;
}

.nav-link {
	color: #bfbfbf;
	text-decoration: none !important;
}

.nav-link:hover {
	color: white;
}

/*Active navbar link*/
.active {
	color: white;
	border-top: 2px solid white !important;
	font-size: 14pt;
}

body {
	font-family: 'Quicksand', sans-serif;
}

#controller {
	border-bottom: 2px solid white;
	padding-bottom: 2vw;
}

#choose {
	border-bottom: 2px solid white;
	padding-bottom: 2vw;
	font-size: 3vw !important;
}

#ps4bg {
	background-image: url("images/textbg1.jpg") !important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: white !important;
	padding: 5vw !important;	
}

#xboxonebg {
	background-image: url("images/textbg8.jpg") !important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: white !important;
	padding: 5vw !important;	
}

#customizebg {
	background-image: url("images/textbg3.jpeg") !important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: white !important;
	padding: 10vw !important;
}

.paymentps4, .paymentxbox {
	
	display: none;
}
